# .env.example – скопируйте в .env и подставьте свои значения
DB_HOST=localhost
DB_NAME=db_name
DB_USER=username
DB_PASSWORD=your_password_here

#для подписи сессий
SECRET_KEY=your_strong_secret_key

DEBUG=False